.page-header
  %h1 
    Редактирование источника финансирования
    = link_to(@source, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(Source.models_human_name, sources_path)
    %li= link_to(@source.human, @source)
    %li.active
      Редактирование источника финансирования

.box
  = render 'form'
