.page-header
  %h1 
    Источники финансирования
    =link_to(new_source_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @sources.each do |source|
    .list-group-item
      =link_to(source) do
        -#%span.text-danger= role.name
        = source.funding_source
      .pull-right
        = link_to(edit_source_path(source), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(source, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times
