.page-header
  %h1 
    Добавление источника финансирования

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(Source.models_human_name, sources_path)
    %li.active
      Добавление источника финансирования

.box
  = render 'form'
