=link_to url_for(controller: 'documents',action: :prev_page, id: document.id), remote: true, class: 'btn btn-default' do
  %i.fa.fa-angle-left
%img.img-rounded{:alt => "", :src => url_for( controller: 'documents',action: :prev_page, id: document.id)}
