.page-header
  %h1 
    Дипломы
    =link_to(new_diploma_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @diplomas.each do |diploma|
    .list-group-item
      =link_to(diploma) do
        %span.text-danger= l(diploma.issue_date)
        = diploma.name
      .pull-right
        = link_to(edit_diploma_path(diploma), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(diploma, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times




