.page-header
  %h1 
    Добавление диплома

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Diploma.models_human_name, diplomas_path)
    %li.active
      Добавление диплома

.box
  = render 'form'

