.container-fluid
  .row
    - start_links.each_with_index do |link, i|
      .col-lg-4.animated.zoomIn
        = link_to({:controller => link[:controller], :action => link[:action]}, :class => "btn board-button-#{i % 9 + 1}") do
          %i{:class => "fa #{link[:icon]}"}
          = link[:name] 
