.page-header
  %h1 
    Редактирование типа нир
    = link_to(@nir_type, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(NirType.models_human_name, nir_types_path)
    %li= link_to(@nir_type.human, @nir_type)
    %li.active
      Редактированиет ипа нир

.box
  = render 'form'
