.page-header
  %h1 
    Добавление типа нир

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(NirType.models_human_name, nir_types_path)
    %li.active
      Добавление типа нир

.box
  = render 'form'
