.page-header
  %h1 
    Редактирование персоны 
    = link_to(@person, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Администрирование
    %li= link_to(Person.models_human_name, people_path)
    %li= link_to(@person.full_name, @person)
    %li.active
      Редактирование персоны

.box
  = render 'form'
