.page-header
  %h1 
    Персоналии
    =link_to(new_person_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus
.list-group
  - @people.each do |person|
    .list-group-item
      =link_to(person) do
        = person.full_name
        -#%span.text-danger= person.full_name
        -#= role.info
      .pull-right
        = link_to(edit_person_path(person), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(person, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times






