.page-header
  %h1 
    Добавление персоны

  %ol.breadcrumb
    %li
      Администрирование
    %li= link_to(Person.models_human_name, people_path)
    %li.active
      Добавление персоны

.box
  = render 'form'

