.page-header
  %h1 
    Редактирование заявки
    =link_to(@ois_request, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(OisRequest.models_human_name, ois_requests_path)
    %li= link_to(@ois_request.human, @ois_request)
    %li.active
      Редактирование заявки

.box
  = render 'form'
