.page-header
  %h1 
    Заявки
    =link_to(new_ois_request_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @ois_requests.each do |ois_request|
    .list-group-item
      =link_to(ois_request) do
        %span.text-danger= ois_request.number
        = ois_request.name
      .pull-right
        = link_to(edit_ois_request_path(ois_request), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(ois_request, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times


