.page-header
  %h1 
    Добавление заявки

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(OisRequest.models_human_name, ois_requests_path)
    %li.active
      Добавление заявки

.box
  = render 'form'

