.page-header
  %h1 
    Редактирование статьи
    =link_to(@article, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Asrticle.models_human_name, articles_path)
    %li= link_to(@article.human, @article)
    %li.active
      Редактирование статьи 

.box
  = render 'form'
