.page-header
  %h1 
    Статьи
    =link_to(new_article_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.row
  .col-md-6
    .panel
      #articles-donut{ data: { url: articles_path(q: params[:q]) }}
        .row
          .col-md-6
            #articles-1.index-donut
          .col-md-6
            #articles-2.index-donut

.list-group
  - @articles.each do |article|
    .list-group-item
      =link_to(article) do
        -#%span.text-danger= user.login
        = article.name
      .pull-right
        = link_to(edit_article_path(article), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(article, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times




