.page-header
  %h1 
    Добавление статьи 

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Article.models_human_name, articles_path)
    %li.active
      Добавление статьи

.box
  = render 'form'

