.page-header
  %h1 
    Добавление научной школы

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(ScientificSchool.models_human_name, scientific_schools_path)
    %li.active
      Добавление научной школы

.box
  = render 'form'
