.page-header
  %h1 
    Пользователи
    =link_to(new_user_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @users.each do |user|
    .list-group-item
      =link_to(user) do
        %span.text-danger= user.login
        = user.info
      .pull-right
        = link_to(edit_user_path(user), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(user, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times
