.page-header
  %h1 
    Конференции
    =link_to(new_conference_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @conferences.each do |conference|
    .list-group-item
      =link_to(conference) do
        %span.text-danger= conference.year
        = conference.name
      .pull-right
        = link_to(edit_conference_path(conference), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(conference, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times

