.page-header
  %h1 
    Добавление конференции

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Conference.models_human_name, conferences_path)
    %li.active
      Добавление конференции

.box
  = render 'form'

