.page-header
  %h1 
    Редактирование лицензии
    = link_to(@licence, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Licence.models_human_name, licences_path)
    %li= link_to(@licence.human, @licence)
    %li.active
      Редактирование лицензии

.box
  = render 'form'
