.page-header
  %h1 
    Лицензии
    =link_to(new_licence_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @licences.each do |licence|
    .list-group-item
      =link_to(licence) do
        %span.text-danger= licence.number
        = licence.name
      .pull-right
        = link_to(edit_licence_path(licence), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(licence, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times



