.page-header
  %h1 
    Добавление лицензии

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Licence.models_human_name, licences_path)
    %li.active
      Добавление лицензии
.box
  = render 'form'
