.page-header
  %h1 
    Роли
    =link_to(new_role_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @roles.each do |role|
    .list-group-item
      =link_to(role) do
        %span.text-danger= role.name
        = role.info
      .pull-right
        = link_to(edit_role_path(role), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(role, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times
