/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 */
$body-bg: darken(#fff, 5%);
//$navbar-side-hover-bg-color: #A1201A;
$navbar-side-hover-bg-color: #3096C7;
$navbar-side-hover-color: #fff;
$navbar-inverse-bg: darken($navbar-side-hover-bg-color, 10%);
$navbar-inverse-toggle-hover-bg: darken($navbar-inverse-bg, 10%);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "pace";
$navbar-side-bg: darken($body-bg, 5%);/* #969593;*/
$navbar-side-color: $navbar-default-color;/* #fff;*/
@import "animate";
@import "fonts";
@import "main";
@import "elements";
