/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require bootstrap-datepicker3
 *= require bootstrap-switch
 */
$screen-sm: 1000px;
$body-bg: darken(#fff, 2.5%);
//$navbar-side-hover-bg-color: #A1201A;
//$navbar-side-hover-bg-color: #A67A5C;
//$navbar-side-hover-bg-color: #3096C7;
$navbar-side-hover-bg-color: #24448C;
$navbar-side-hover-color: #fff;
$navbar-inverse-bg: darken($navbar-side-hover-bg-color, 10%);
$navbar-inverse-toggle-hover-bg: darken($navbar-inverse-bg, 10%);
$navbar-inverse-color: darken($body-bg, 10%);
$navbar-inverse-link-color: darken($body-bg, 10%);

$font-size-base: 16px;
$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;
$breadcrumb-padding-horizontal: 0;

$btn-default-bg: #c2c2c2;
$brand-primary: #1ab394;
$brand-success: #1c84c6;
$brand-info: #23c6c8;
$brand-warning: #f8ac59;
$brand-danger: #ed5565;

$brand-purple: #727cb6;

$input-border-focus: $brand-primary;
$text-muted: #999;
//@import "bootstrap-datepicker3";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "pace";
$navbar-side-bg: darken($body-bg, 5%);/* #969593;*/
$navbar-side-color: $navbar-default-color;/* #fff;*/
@import "animate";
@import "fonts";
@import "main";
@import "side-bar";
@import "buttons";
@import "nobody";
