.page-header
  %h1 
    Редактирование области науки 
    = link_to(@field, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-eye

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(Field.models_human_name, fields_path)
    %li= link_to(@field.human, @field)
    %li.active
      Редактирование области науки

.box
  = render 'form'
