.page-header
  %h1 
    Области науки
    =link_to(new_field_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @fields.each do |field|
    .list-group-item
      =link_to(field) do
        %span.text-danger= field.code
        = field.name
      .pull-right
        = link_to(edit_field_path(field), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(field, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times
