.page-header
  %h1 
    Добавление области науки

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(Field.models_human_name, fields_path)
    %li.active
      Добавление области науки

.box
  = render 'form'
