.page-header
  %h1 
    ГРНТИ
    -#=link_to(new_grnti_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @grntis.each do |grnti|
    .list-group-item
      =link_to(grnti) do
        %span.text-danger= grnti.grnti
        = grnti.name
      .pull-right
        = link_to(grnti, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-eye
        -#= link_to(grnti, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times
