.page-header
  %h1 
    Федеральные программы
    =link_to(new_state_program_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @state_programs.each do |state_program|
    .list-group-item
      =link_to(state_program) do
        -#%span.text-danger= role.name
        = state_program.name
      .pull-right
        = link_to(edit_state_program_path(state_program), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(state_program, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times
