.page-header
  %h1 
    Добавление федеральной программы

  %ol.breadcrumb
    %li
      Словари
    %li= link_to(StateProgram.models_human_name, state_programs_path)
    %li.active
      Добавление федеральной программы

.box
  = render 'form'
