.page-header
  %h1 
    НИР
    =link_to(new_research_effort_path, {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-plus

.list-group
  - @research_efforts.each do |research_effort|
    .list-group-item
      =link_to(research_effort) do
        -#%span.text-danger= research_effort.state_reg_number
        = research_effort.name
      .pull-right
        = link_to(edit_research_effort_path(research_effort), :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-pencil-square-o
        = link_to(research_effort, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-success btn-outline btn-circle btn-xs') do
          %i.fa.fa-times






