.page-header
  %h1 
    Добавление НИР

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(ResearchEffort.models_human_name, research_efforts_path)
    %li.active
      Добавление НИР

.box
  = render 'form'

